body {
    margin: 0px;
    padding-bottom: 0px;
    background-color: #aaaaaa;
    font-family: "narkiss-yair-variable", sans-serif;
    font-weight: 400;
}

#wrap {
    width: 1280px;
    margin: auto;
}

h1.construction {
    width: 300px;
    margin: 100px auto;
}

nav#navigation {
    background-color: #181D27;
    font-size: 1.25em;

    /* Les 2 enfants UL seront positionnés en flex, premier "à gauche", le second "à droite" */
    display: flex;
    justify-content: space-between;
    align-items: center;

    line-height: 60px;

    align-items: stretch;

    margin: 15px 20px;
    border-radius: 20px;
}

nav#navigation ul {
    margin: 0px;
    padding: 0px;

    list-style-type: none;

    /* Encore du flex pour les li de chaque ul */

    display: flex;
    flex-wrap: wrap;
}

nav#navigation li {
    padding-left: 20px;
    padding-right: 20px;
}

nav#navigation ul.items {
    margin: auto;
}


nav#navigation a {
    text-decoration: none;
    color: #fff;
}

nav#navigation li:hover a {
    color: #63D2FF;
}

#presentation {
    margin: auto;
    width: 1000px;
    border-radius: 20px;

    background-color: #181D27;
    color: #fff;
}

div.ligne{
    display: flex;  
    flex-direction: row ; /* Aligne les éléments enfants horizontalement */
    align-items:center ; /* Centre verticalement dans le conteneur. */
}



#presentation img{
   width: 200px;
}

#presentation h2 {
    text-align: center;
    padding-top: 15px;
}

#presentation p{
    width: 500px;
}



:root {
    --largImage : 460px ;
    --nbImages : 5 ;
    --duree : 6s ;
}


.sliderView {
    /* Calcul de la largeur de la vue (1 fois la largeur de l'image) */
    width: var(--largImage);
    /* Tout ce qui dépasse cette vue n'est pas visible donc on ne verra qu'une seule image à la fois */
    overflow: hidden;
    margin: 15px auto;
}

.sliderPan {
    /* Pour que les slides se mettent un à coté de l'autre dans le sliderPan */
    display: flex;  
    /* Calcul de la largeur de ce "PAN" : nbre d'images x largeur d'images */
    width: calc(var(--largImage)*var(--nbImages));
    /* on associé l'animation créée "deplacement" pour décaler petit à petit les images dans le sliderPan */
    animation: deplacement calc(var(--nbImages)*var(--duree)) infinite ease-in-out;
}

/* L'animation suivante n'est pas top car ne s'adapte pas automatiquement au nombre d'images :( */

@keyframes deplacement {
    0% {
        transform: translate(0);
    }
    20% {
        /* On décale le dliderPan dans la vue (sliderVue) vers la gauche (nombre négatif) d'une fois la largeur d'une image */
        transform: translate(calc(-1 * var(--largImage)));
    }
    40% {
        /* De 2 fois... */
        transform: translate(calc(-2 * var(--largImage)));
    }
    60% {
        /* De 3 fois comme ça on a vu les 4 images */
        transform: translate(calc(-3 * var(--largImage)));
    }
    80% {
        /* De 3 fois comme ça on a vu les 4 images */
        transform: translate(calc(-4 * var(--largImage)));
    }
    100% {
        /* Puis on revient à l'image initiale */
        transform: translate(0);
    }
}


figure.slide {
    position : relative ;
    margin: 0px;
}

figure.slide img {
    vertical-align: bottom ;
}

figure.slide figcaption {
    font-family: sans-serif;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    padding : 14px;
    background-color: #000;
    opacity: 0.8;

    width: 100% ;
    position : absolute ;
    bottom : 0px ;
    left: 0px ;
}

figure.slide:hover figcaption{
    color: #63D2FF;
}

footer {
    width: 100%;

    line-height: 2rem;
    text-align: center;
    color: #fff;

    background-color: #181D27;
}

footer ul {
    margin: 0px;
    list-style-type: none;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer li:hover a {
    color: #63D2FF;
}